option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 1800  # increases deployment timeout to 30 minutes

  aws:elasticbeanstalk:application:environment:
    PYTHONUNBUFFERED: '1'  # ensures Python logs stream immediately

resources:
  instances:
    Instance:
      RootVolumeSize: 20  # increase from default 8 GB to 20 GB
